# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
cfj_logo.jpeg
# Virtual environment
myenv/
venv/
env/
.venv/

# Django
*.log
/staticfiles/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Seed script (not needed in production)
seed_data.py
